{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Авторизация | ПГГПУ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "headLinks.html" %}
    <link rel="stylesheet" href="{% static 'css/login.min.css' %}">
</head>
<body onload="fireJS()">
{% include 'header-nav.html' %}
<div class="container-login100">
    <div id="particles-js" class="content__cover"></div>
    <div data-aos="zoom-in" class="wrap-login100">
        <form action="{{ app_path }}" method="post" id="login-form">
            {% csrf_token %}
            <span class="login100-form-title">{{ d }}
                                    Вход в <span style="color: var(--orange)">Studio</span>.ПГГПУ
                            </span>
            <div id="password-login"></div>
            <div class="wrap-input100 validate-input">
                {{ form.username|add_class:"input100" }}
                <span class="focus-input100" data-placeholder="Логин"></span>
            </div>

            <div class="wrap-input100 validate-input">
                {{ form.password|add_class:"input100" }}
                <span class="focus-input100" data-placeholder="Пароль"></span>
            </div>

            <div class="container-login100-form-btn login-auth">
                <button class="login100-form-btn">
                    <i class="fas fa-sign-in-alt"></i>
                    Войти
                </button>
            </div>
            <div class="container-login100-form-btn microsoft-auth">
                <button class="login100-form-btn" id="microsoft-login" class="button"
                        type="button">
                    <i class="fab fa-microsoft"></i>
                    {{ microsoft_login_type_text }}
                </button>
            </div>
        </form>
    </div>
</div>
{% include 'footer.html' %}
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js" defer></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous" defer></script>
<script type="text/javascript">
    function fireJS() {
    particlesJS("particles-js", {
        "particles": {
            "number": {"value": 80, "density": {"enable": !0, "value_area": 800}},
            "color": {"value": "#ffffff"},
            "shape": {
                "type": "circle",
                "stroke": {"width": 0, "color": "#000000"},
                "polygon": {"nb_sides": 5},
                "image": {"src": "img/github.svg", "width": 100, "height": 100}
            },
            "opacity": {"value": .5, "random": !1, "anim": {"enable": !1, "speed": 1, "opacity_min": .1, "sync": !1}},
            "size": {"value": 3, "random": !0, "anim": {"enable": !1, "speed": 40, "size_min": .1, "sync": !1}},
            "line_linked": {"enable": !0, "distance": 150, "color": "#ffffff", "opacity": .4, "width": 1.5},
            "move": {
                "enable": !0,
                "speed": 1.5,
                "direction": "none",
                "random": !1,
                "straight": !1,
                "out_mode": "out",
                "bounce": !1,
                "attract": {"enable": !1, "rotateX": 600, "rotateY": 1200}
            }
        },
        "interactivity": {
            "detect_on": "canvas",
            "events": {
                "onhover": {"enable": false, "mode": "grab"},
                "onclick": {"enable": true, "mode": "push"},
                "resize": true
            },
            "modes": {
                "grab": {"distance": 400, "line_linked": {"opacity": 1}},
                "bubble": {"distance": 400, "size": 40, "duration": 2, "opacity": 8, "speed": 3},
                "repulse": {"distance": 200, "duration": 0.4},
                "push": {"particles_nb": 4},
                "remove": {"particles_nb": 2}
            }
        },
        "retina_detect": !0
    });

    $('.input100').each(function () {
        $(this).on('blur', function () {
            if ($(this).val().trim() != "") {
                $(this).addClass('has-val');
            } else {
                $(this).removeClass('has-val');
            }
        })
    })

    var lazycss1 = document.createElement('link');
        lazycss1.rel = 'stylesheet';
        lazycss1.href = 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css';
        lazycss1.type = 'text/css';
        var godefer = document.getElementsByTagName('link')[0];
        godefer.parentNode.insertBefore(lazycss1, godefer);

        var lazycss3 = document.createElement('link');
        lazycss3.rel = 'stylesheet';
        lazycss3.href = 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap';
        lazycss3.type = 'text/css';
        var godefer = document.getElementsByTagName('link')[0];
        godefer.parentNode.insertBefore(lazycss3, godefer);

        var lazycss4 = document.createElement('link');
        lazycss4.rel = 'stylesheet';
        lazycss4.href = '{% static 'css/zero.min.css' %}';
        lazycss4.type = 'text/css';
        var godefer = document.getElementsByTagName('link')[0];
        godefer.parentNode.insertBefore(lazycss4, godefer);
}
</script>
{% if microsoft_login_enabled %}
    <script type="text/javascript" src="{% static 'microsoft/js/login.js' %}" defer></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded",
            function (event) {
                window.microsoft.login = new window.microsoft.objects.LoginController({
                    'authorization_url': '{{ microsoft_authorization_url }}'
                });
            });
    </script>
{% endif %}
</body>
</html>