@mixin adaptive-font($pcSize, $mobSize, $maxWidth) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
	@media(max-width: 767px) {
		font-size: calc(#{$mobSize + px} + (#{$addMobSize} * ((100vw - 320px) / #{$maxWidth}))) !important;
	}
	@media(min-width: 767px) {
		font-size: calc(#{$mobSize + px} + (#{$addSize} * (100vw / #{$maxWidth}))) !important;
	}
}

@mixin adaptive-line-height($pcSize, $mobSize, $maxWidth) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
	@media(max-width: 767px) {
		line-height: calc(#{$mobSize + px} + (#{$addMobSize} * ((100vw - 320px) / #{$maxWidth}))) !important;
	}
	@media(min-width: 767px) {
		line-height: calc(#{$mobSize + px} + (#{$addSize} * (100vw / #{$maxWidth}))) !important;
	}
}