@import 'adaptive-font.scss';

@media only screen and (max-width: 500px) {
  .header-nav__logo__name {
    display: none;
  }
  .header-nav-login-wrapper {
    width: 80px !important;
  }
}

@media only screen and (max-width: 670px) {
  .services-wrapper {
    margin-top: 40px !important;
    margin-bottom: 20px !important;
  }
}

@media only screen and (max-width: 950px) {
  .header-nav-menu {
    * {
      display: none;
    }

    *:first-child {
      display: block;
    }
  }
}

.slide-content {
  max-width: 100%;
}

.elementor-video {
  width: 100%;
}

.header-nav__logo__name {
  color: #3c3c67;
}

.header {
  background: #ffffff;
  min-height: 100vh;
  width: 100%;
  background: url("../img/headerbg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header-about {
  height: 100vh;
  display: flex;
  align-items: center;
}

.header-about-text {
  max-width: 1400px;
  margin: 0 auto;
  flex-grow: 10;
  padding: 30px 2%;
  color: #ffffff;
}

.header-about-text-wrapper {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;

  * {
    margin-bottom: 10px;
  }
}

.header-about-text__upper {
  @include adaptive-font(50, 40, 1400);
  font-weight: bold;
}

.header-about-text__middle {
  @include adaptive-font(40, 30, 1400);
  font-weight: bold;
  color: var(--orange);
  font-style: italic;
}

.header-about-text__bottom {
  @include adaptive-font(30, 24, 1400);
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.video-wrapper > .swiper-container > .swiper-wrapper {
  flex-wrap: nowrap;
}

.video-particles {
  position: absolute;
  width: 100%;
  height: calc(100% + 300px);
  z-index: -1;
}

.video-wrapper {
  max-width: 1200px;
  padding-left: 2%;
  padding-right: 2%;
}

.video-wrapper-text {
  text-align: center;
  margin-bottom: 40px;
  margin-left: 2%;
  margin-right: 2%;
}

.video-wrapper-text__title {
  @include adaptive-font(32, 26, 1400);
  font-weight: bold;
  margin-bottom: 20px;
}

.video-wrapper-text__subtitle {
  @include adaptive-font(20, 18, 1400);
  line-height: 40px;
  padding-left: 3%;
  padding-right: 3%;
  text-align: left;
}

.video-wrapper-media {
  position: relative;
  padding-bottom: 54%; /* 16:9 */
  height: 0;
  max-height: 800px;
  margin-left: 2%;
  margin-right: 2%;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 103px -43px rgba(0, 0, 0, 0.75);
  }
}

.proms {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/promsbg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  width: 100%;
}

.proms-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
  margin-top: 80px;
  margin-bottom: 80px;
  max-width: 1400px;
}

.proms-wrapper-item {
  flex-basis: 21%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 250px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 20px;
}

.proms-wrapper-item-icon {
  margin-bottom: 30px;
  color: var(--orange);
  font-size: 100px;
}

.proms-wrapper-item__title {
  @include adaptive-font(26, 22, 1400);
  font-weight: bold;
  margin-bottom: 15px;
}

.proms-wrapper-item__subtitle {
  @include adaptive-font(20, 18, 1400);
  line-height: 28px;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/servicesbg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.services-wrapper {
  margin-top: 150px;
  margin-bottom: 150px;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.services-wrapper-text {
  margin-bottom: 60px;
  width: 100%;

  * {
    text-align: center;
  }
}

.services-wrapper-text__title {
  @include adaptive-font(50, 40, 1400);
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 2%;
  padding-right: 2%;
}

.services-wrapper-text__subtitle {
  @include adaptive-font(28, 24, 1400);
  max-width: 80%;
  margin: 0 auto;
}

.services-wrapper-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}

.services-wrapper-content-item {
  flex-basis: 29.3333%;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  flex-grow: 1;
}

.services-wrapper-content-item-text {
  text-align: center;
}

.services-wrapper-content-item__icon {
  margin-right: 4%;
  display: flex;
  width: 100%;
  justify-content: center;
  color: var(--orange);
  font-size: 70px;
}

.services-wrapper-content-item-text__title {
  @include adaptive-font(30, 26, 1400);
  font-weight: bold;
  margin-bottom: 15px;
}

.services-wrapper-content-item-text__subtitle {
  @include adaptive-font(18, 16, 1400);
}

.review {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/reviewbg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;

	* {
		flex-wrap: nowrap;
	}
}

.review-content {
	width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 2%;
  margin-right: 2%;
}

.review-content-text {
  * {
    text-align: center;
  }
}

.review-content-text__title {
  @include adaptive-font(50, 40, 1400);
  font-weight: bold;
  margin-bottom: 20px;
}

.review-content-text__subtitle {
  @include adaptive-font(26, 22, 1400);
}

.review-content-wrapper {
  margin: 0 auto;
  min-width: 200px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  border-radius: 10px;
  box-shadow: 0px 0px 103px -43px rgba(0, 0, 0, 0.75);
}

.review-content-wrapper-icon {
  margin-bottom: 40px;
}

.review-content-wrapper-icon__img {
  width: 60px;
  height: 70px;
  margin-top: -30px;
}

.review-content-wrapper-text {
  display: flex;
  color: #333333;
  max-width: 80%;
  justify-content: space-around;
  margin-bottom: 40px;
}

.review-content-wrapper-text__icon {
  margin-right: 30px;
  margin-left: -30px;
  font-size: 30px;
  color: var(--orange);
}

.review-content-wrapper-text-qoute {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  * {
    text-align: center
  }
}

.review-content-wrapper-text-qoute__about {
  @include adaptive-font(20, 16, 1400);
  line-height: 35px;
  margin-bottom: 15px;
}

.review-content-wrapper-qoute__name {
  @include adaptive-font(30, 26, 1400);
  font-weight: bold;
}

.review-content-container {
	display: flex;
	width: 100%;
	justify-content: center;
}

.review-content-items {
	margin: 0 auto;
	width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px;
	max-width: 800px;
}

.review-content-items > .swiper-container {
  width: 100%;
  height: 100%;
	max-width: 800px;
}

.review-content-items > .swiper-container > .swiper-wrapper > .swiper-slide {
	width: 100% !important;
	max-width: 800px;
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}