<html lang="ru" data-lt-installed="true">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "headLinks.html" %}
    <title>Таблица записи | ПГГПУ</title>
    <link rel="stylesheet" href="{% static 'css/calendar.min.css' %}">
</head>
<body onload="fireJS()">
{% include 'header-nav.html' %}
<div class="calendar-container">
    <div class="calendar-header">
        <h1>
            <a href="{% url 'calendarParametrized' calendar.monthBefore.year calendar.monthBefore.month %}"
               class="noUnderline">
                <i class="fas fa-arrow-left icon-button"></i>
            </a>
            {{ calendar.month }}
            <a href="{% url 'calendarParametrized' calendar.monthAfter.year calendar.monthAfter.month %}"
               class="noUnderline">
                <i class="fas fa-arrow-right icon-button"></i>
            </a>
        </h1>
        <p>
            {{ calendar.year }}
        </p>
    </div>
    <div class="calendar">
        <span class="day-name">Понедельник</span>
        <span class="day-name">Вторник</span>
        <span class="day-name">Среда</span>
        <span class="day-name">Четверг</span>
        <span class="day-name">Пятница</span>
        <span class="day-name">Суббота</span>
        <span class="day-name" style="color: #c73434;">Воскресенье</span>
        {% for week in calendar.weeks %}
            {% for day in week.days %}
                <div class="day
                        {% if day.noDay == True %}
                            day--disabled
                        {% endif %}
                    ">
                    <div class="day-number collapsible {% if week.isEnabled %} activeDay {% endif %}">
                        {{ day.number }}
                        <i class="fas fa-arrow-down"></i>
                        <i class="fas fa-arrow-up"></i>
                    </div>
                    <div class="day-times {% if week.isEnabled %} active {% endif %}">
                        {% for time in day.time %}
                            <div class="day__button {{ time.id }} {% if time.isFree == 1 %} day__free {% elif time.isFree == 2 %} day__your {% elif day.noDay == True or time.isFree == 0 %} day__notFree {% else %} error {% endif %}"
                                 onclick="buttonClick('{% if day.noDay == True %}none{% else %}{{ time.id }}{% endif %}')">
                                {{ time.time }} {{ time.name }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% include 'footer.html' %}
<script src="{% static 'js/notiflix-2.4.0.min.js' %}" defer></script>
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous" defer></script>
<script type="text/javascript">
    function fireJS() {
        var lazycss1 = document.createElement('link');
        lazycss1.rel = 'stylesheet';
        lazycss1.href = 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css';
        lazycss1.type = 'text/css';
        var godefer = document.getElementsByTagName('link')[0];
        godefer.parentNode.insertBefore(lazycss1, godefer);

        var lazycss2 = document.createElement('link');
        lazycss2.rel = 'stylesheet';
        lazycss2.href = '{% static 'css/notiflix-2.4.0.min.css' %}';
        lazycss2.type = 'text/css';
        var godefer = document.getElementsByTagName('link')[0];
        godefer.parentNode.insertBefore(lazycss2, godefer);

        var lazycss3 = document.createElement('link');
        lazycss3.rel = 'stylesheet';
        lazycss3.href = 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap';
        lazycss3.type = 'text/css';
        var godefer = document.getElementsByTagName('link')[0];
        godefer.parentNode.insertBefore(lazycss3, godefer);

        var lazycss4 = document.createElement('link');
        lazycss4.rel = 'stylesheet';
        lazycss4.href = '{% static 'css/zero.min.css' %}';
        lazycss4.type = 'text/css';
        var godefer = document.getElementsByTagName('link')[0];
        godefer.parentNode.insertBefore(lazycss4, godefer);

        let actives = document.getElementsByClassName('active');
        let activieDays = document.getElementsByClassName('activeDay');

        for (let i = 0; i < actives.length; i++) {
            actives[i].style.maxHeight = actives[i].scrollHeight + 40 + "px";
            activieDays[i].classList.toggle('arrow-up');
        }

        let coll = document.getElementsByClassName('collapsible');
    }

    let coll = document.getElementsByClassName("collapsible");

    for (let i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            let content = this.nextElementSibling;
            if (!content.style.maxHeight)
                content.style.maxHeight = content.scrollHeight + "px";
            else
                content.style.maxHeight = null;
            this.classList.toggle('arrow-up');
        });
    }

    function buttonClick(id) {
        if (id === 'none')
            return;
        var element = document.getElementsByClassName(id)[0];
        if (element.classList.contains("day__notFree")) {

        } else {
            var ask = '';
            if (element.classList.contains("day__your"))
                ask = "Вы уверены, что хотите отказаться от записи?";
            else
                ask = "Вы уверены, что хотите записаться?";
            Notiflix.Confirm.Show('Запись', ask, 'Да', 'Нет',
                function () {
                    sendAjax(id);
                },
                function () {

                }
            );
        }
    }

    function sendAjax(id) {
        $.ajax({
            url: '{% url "unsubscribe" %}',
            data: {
                'id': id
            },
            dataType: 'json',
            success: function (data) {
                if (data.answer === "subscribed") {
                    var element = document.getElementsByClassName(data.id)[0];
                    element.innerHTML = data.text;
                    element.classList.remove('day__free');
                    element.classList.remove('day__your');
                    element.classList.remove('day__notFree');
                    element.classList.add('day__your');
                    Notiflix.Notify.Success('Вы записались');
                } else if (data.answer === "unsubscribed") {
                    var element = document.getElementsByClassName(data.id)[0];
                    element.innerHTML = data.text;
                    element.classList.remove('day__free');
                    element.classList.remove('day__your');
                    element.classList.remove('day__notFree');
                    element.classList.add('day__free');
                    Notiflix.Notify.Success('Вы отказались от записи');
                } else if (data.answer === "lackOfPermission") {
                    Notiflix.Notify.Failure('Не хватает прав');
                }
            }
        });
    }
</script>
</body>
</html>