{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8"/>
    <meta name="viewport" content="width=device-width">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">

    <style>
        /*Zero*/
        html, body {
            margin: 0 auto !important;
            padding: 0 !important;
            height: 100% !important;
            width: 100% !important;
            background: #ffffff;
        }

        * {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        table, td {
            mso-table-lspace: 0pt !important;
            mso-table-rspace: 0pt !important;
        }

        table {
            border-spacing: 0 !important;
            border-collapse: collapse !important;
            table-layout: fixed !important;
            margin: 0 auto !important;
        }

        *[x-apple-data-detectors], .unstyle-auto-detected-links *, .aBn {
            border-bottom: 0 !important;
            cursor: default !important;
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        .a6S {
            display: none !important;
            opacity: 0.01 !important;
        }

        .im {
            color: inherit !important;
        }

        img.g-img + div {
            display: none !important;
        }

        @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
            u ~ div .container {
                min-width: 320px !important;
            }
        }

        @media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
            u ~ div .container {
                min-width: 375px !important;
            }
        }

        @media only screen and (min-device-width: 414px) {
            u ~ div .container {
                min-width: 414px !important;
            }
        }

        table {
        }

        h1, h2, h3, h4, h5, h6 {
            color: #000000;
            margin-top: 0;
            font-weight: 400;
        }

        body {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 15px;
            line-height: 1.8;
        }
    </style>

</head>
<body width="100%" style="margin: 0; padding: 0 !important;">
<center style="width: 100%; background-color: #f1f1f1;">
    <table style="max-width: 600px; margin: 0 auto; background-color: #ffffff;" cellpadding="0" cellspacing="0"
           border="0">
        <tr>
            <td>
                <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"
                       style="margin: auto;">
                    <tbody>
                    <tr>
                        <td valign="top" class="bg_white" style="padding: 1em 2.5em 0 2.5em;">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                <tr>
                                    <td class="logo" style="text-align: left;">
                                        <h1>
                                            <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'index' %}">
                                                <p style="float: left;">
                                                    <span style="color: #E67817">Studio.</span><span
                                                        style="color: #333333">ПГГПУ</span>
                                                </p>
                                                {% load static %}
                                                <img style="float: right;" src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'img/pshpu-icon.png' %}"
                                                     alt="" width="60" height="70">
                                            </a>
                                        </h1>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" style="padding: 2em 0 4em 0; position: relative; z-index: 0;">
                            <table>
                                <tbody>
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td style="padding: 0 2.5em; color: rgba(0,0,0,.3);">
                                                    <h2 style="text-align: center; color: #000;	font-size: 40px; margin-bottom: 0; font-weight: 400; line-height: 1.4;">
                                                        Уведомление
                                                    </h2>
                                                    <span style="text-align: left; color: #000000; font-size: 20px; line-height: 14px;">
                                                                    {% if ans == 'subscribed' %}
                                                                        <p>Вы <span style="font-weight: bold">записались</span> в Cтудию самозаписи онлайн-курсов SPOK & MOOK</p>
                                                                    {% elif ans == 'unsubscribed' %}
                                                                        <p>Вы <span style="font-weight: bold">отказались</span> от записи в Cтудию самозаписи онлайн-курсов SPOK & MOOK</p>
                                                                    {% endif %}
                                                                    <p>Дата записи: <span style="font-weight: bold">{{ date }}</span></p>
                                                                    <p>Время записи: <span style="font-weight: bold">{{ time }}</span></p>
                                                                    <p>Запись принадлежит: <span style="font-weight: bold">{{ user }}</span></p>
																</span>
                                                    <p style="color: #333333; line-height: 1em; font-size: 16px; max-width: 80%">
                                                        С полной таблицей электронной записи можно ознакомиться по <a
                                                            href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'calendar' %}">ссылке</a></p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"
                       style="margin: auto;">
                    <tbody>
                    <tr>
                        <td valign="middle"
                            style="border-top: 1px solid rgba(0,0,0,.05); color: rgba(0,0,0,.5); padding:2.5em;">
                            <table>
                                <tbody>
                                <tr>
                                    <td valign="top" width="33.333%" style="padding-top: 20px;">
                                        <table role="presentation" cellspacing="0" cellpadding="0" border="0"
                                               width="100%">
                                            <tbody>
                                            <tr>
                                                <td style="text-align: left; padding-right: 10px;">
                                                    <h3 class="heading">
                                                        О письме
                                                    </h3>
                                                    <p>
                                                        Данное письмо сгенерировано автоматически. Ответа на него не требуется.
                                                    </p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td valign="top" width="33.333%" style="padding-top: 20px;">
                                        <table role="presentation" cellspacing="0" cellpadding="0" border="0"
                                               width="100%">
                                            <tbody>
                                            <tr>
                                                <td style="text-align: left; padding-left: 5px; padding-right: 5px;">
                                                    <h3 class="heading">
                                                        Контакты
                                                    </h3>
                                                    <span class="text">г. Пермь, ул. Пушкина, 42 (4 учебный корпус ПГГПУ), каб. А-113</span> <br>
                                                    <span class="text">215-18-62 (доб. 338)</span> <br>
                                                    <span class="text">215-18-45 (доб. 347)</span> <br>
                                                    <span class="text">studio@pspu.ru</span> <br>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td valign="top" width="33.333%" style="padding-top: 20px;">
                                        <table role="presentation" cellspacing="0" cellpadding="0" border="0"
                                               width="100%">
                                            <tbody>
                                            <tr>
                                                <td style="text-align: left; padding-left: 10px;">
                                                    <h3 class="heading">
                                                        Полезные ссылки
                                                    </h3>
                                                    <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'index' %}">Studio.pspu.ru</a> <br>
                                                    <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'index' %}#about">О студии</a> <br>
                                                    <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'calendar' %}">Таблица записи</a> <br>
                                                    <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'login' %}">Авторизация</a> <br>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</center>
</body>
</html>
