{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "headLinks.html" %}
    <link rel="stylesheet" href="{% static 'css/features.min.css' %}">
    <title>Документация Студии | ПГГПУ</title>
</head>
<body onload="fireJS()">
{% include 'header-nav.html' %}
<div class="services">
    <div class="services__title typo-orange">
        СТУДИЯ САМОЗАПИСИ ОНЛАЙН-КУРСОВ ПГГПУ
    </div>
    <div class="use-links__subtitle">
        <p>Студия самозаписи обеспечивает преподавателями Университета возможность создания видеолекций. Программа позволяет самостоятельно без помощи операторов и технических помощников записать качественный видеоконтент для создания онлайн-курсов.</p>
        <p>Три режима видеозаписи позволяют выбрать наиболее оптимальный вариант подачи материала:</p>
        <p><span class="typo-bold">Режим Запись с презентацией</span> предназначен для записи видеоконтента на фоне заранее подготовленной презентации. В ходе записи преподаватель демонстрирует слайды, имеет возможность передвигаться, делать графические пометки, записи на слайдах презентации (функция рисования электронным карандашом), управляет переключением слайдов.</p>
        <p><span class="typo-bold">Режим Запись без презентации</span> позволяет записывать видеоконтент на нейтральном (корпоративном) фоне или на собственном заранее подобранном фоне. В ходе записи преподаватель может делать необходимые графические пометки и записи на фоне (функция рисования электронным карандашом), передвигаться, демонстрировать необходимые действия.</p>
        <p><span class="typo-bold">Режим Запись с экрана</span> предназначен для демонстрации любых файлов и программ с рабочего экрана Студии (в том числе программного обеспечения, видеофайлов и т.д.).</p>

    </div>
    <div class="services__title">
        ИНСТРУКЦИИ ПОЛЬЗОВАТЕЛЯ
    </div>
    <div class="services-wrapper">
        <div class="services-item">
            <div class="services-item__num circle">
                1
            </div>
            <div class="services-item-text">
                <div class="services-item-text__title">
                    <a class="linkUp" href="{% static 'doc/О_Студии_самозаписи_онлайн_курсов_ПГГПУ.docx' %}" download>
                        О Студии самозаписи онлайн курсов ПГГПУ
                    </a>
                </div>
                <div class="services-item-text__about">

                </div>
            </div>
        </div>
        <div class="services-item">
            <div class="services-item__num circle">
                2
            </div>
            <div class="services-item-text">
                <div class="services-item-text__title">
                    <a class="linkUp" href="{% static 'doc/Инструкция_Подготовка.pdf' %}" download>
                        Подготовка
                    </a>
                </div>
                <div class="services-item-text__about">

                </div>
            </div>
        </div>
        <div class="services-item">
            <div class="services-item__num circle">
                3
            </div>
            <div class="services-item-text">
                <div class="services-item-text__title">
                    <a class="linkUp"  href="{% static 'doc/Инструкция_Начало работы.pdf' %}" download>
                        Начало работы
                    </a>
                </div>
                <div class="services-item-text__about">

                </div>
            </div>
        </div>
        <div class="services-item">
            <div class="services-item__num circle">
                4
            </div>
            <div class="services-item-text">
                <div class="services-item-text__title">
                    <a class="linkUp" href="{% static 'doc/Инструкция_Запись_с_презентацией.pdf' %}" download>
                        Запись с презентацией
                    </a>
                </div>
                <div class="services-item-text__about">

                </div>
            </div>
        </div>
        <div class="services-item">
            <div class="services-item__num circle">
                5
            </div>
            <div class="services-item-text">
                <div class="services-item-text__title">
                    <a class="linkUp" href="{% static 'doc/Инструкция_Запись_без_презентации.pdf' %}" download>
                        Запись без презентации
                    </a>
                </div>
                <div class="services-item-text__about">

                </div>
            </div>
        </div>
        <div class="services-item">
            <div class="services-item__num circle">
                6
            </div>
            <div class="services-item-text">
                <div class="services-item-text__title">
                    <a class="linkUp" href="{% static 'doc/Инструкция_Запись с экрана.pdf' %}" download="">
                        Запись с экрана
                    </a>
                </div>
                <div class="services-item-text__about">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="use">
    <div class="use-wrapper">
        <div class="use-spec">
            <div class="use-spec__title">
                НАШИМ ПАРТНЕРАМ:
            </div>
            <div class="use-spec-item">
                <div class="use-spec-item__img">
                    <img src="{% static 'img/IMG_8464-min.webp' %}"
                         class="attachment-large size-large" alt="">
                </div>
                <div class="use-spec-item-text">
                    <div class="use-spec-item-text__title">
                        Приобретение ПО
                    </div>
                    <div class="use-spec-item-text__about">
                        По вопросам приобретения программного обеспечения Студии самозаписи <span class="typo-nowrap">SPOK & MOOK</span> обращаться в отдел онлайн образования ПГГПУ 2 15 18 45 (доб. 347)
                    </div>
                </div>
            </div>
            <div class="use-spec-item">
                <div class="use-spec-item__img">
                    <img src="{% static 'img/P01003-121233.webp' %}"
                         class="attachment-large size-large" alt="">
                </div>
                <div class="use-spec-item-text">
                    <div class="use-spec-item-text__title">
                        Заключение договора
                    </div>
                    <div class="use-spec-item-text__about">
                        По вопросам заключения договора о предоставлении услуг Студии самозаписи <span class="typo-nowrap">SPOK & MOOK</span> обращаться в отдел онлайн образования ПГГПУ 2 15 18 45 (доб. 347)
                    </div>
                </div>
            </div>
        </div>
        <div class="use-links" id="links">
            <div class="use-links__title">
                Иструкции:
            </div>
            <!--<div class="use-links__subtitle">
                Текст
            </div>
            <div class="use-links__about">
                Текст
            </div>-->
            <div class="use-links-item">
                <a class="use-links-item-wrapper" href="{% static 'doc/Метод_рекомендации_к_онлайн_курсу.pdf' %}" download>
                    <div class="use-links-item__icon">
                        <i class="fas fa-link"></i>
                    </div>
                    <div class="use-links-item__text linkUp">
                        Метод рекомендации к онлайн курсу
                    </div>
                </a>
            </div>
            <div class="use-links-item">
                <a class="use-links-item-wrapper" href="{% static 'doc/Вопрос-ответ для преподавателей.pdf' %}" download>
                    <div class="use-links-item__icon">
                        <i class="fas fa-link"></i>
                    </div>
                    <div class="use-links-item__text linkUp">
                        Вопрос-ответ для преподавателей
                    </div>
                </a>
            </div>
            <div class="use-links-item">
                <a class="use-links-item-wrapper" href="{% static 'doc/Как_организовать_дистанционную_коммуникацию_со_студентами.pdf' %}" download>
                    <div class="use-links-item__icon">
                        <i class="fas fa-link"></i>
                    </div>
                    <div class="use-links-item__text linkUp">
                        Как организовать дистанционную коммуникацию со студентами
                    </div>
                </a>
            </div>
            <div class="use-links-item">
                <a class="use-links-item-wrapper" href="{% static 'doc/Как_организовать_удаленное_рабочее_место_для_преподавателя.pdf' %}" download>
                    <div class="use-links-item__icon">
                        <i class="fas fa-link"></i>
                    </div>
                    <div class="use-links-item__text linkUp">
                        Как организовать удаленное рабочее место для преподавателя
                    </div>
                </a>
            </div>
            <div class="use-links-item">
                <a class="use-links-item-wrapper" href="{% static 'doc/Как_подготовиться_к_переводу_обучения_на_дистанционный_формат.pdf' %}" download>
                    <div class="use-links-item__icon">
                        <i class="fas fa-link"></i>
                    </div>
                    <div class="use-links-item__text linkUp">
                        Как подготовиться к переводу обучения на дистанционный формат
                    </div>
                </a>
            </div>
            <div class="use-links-item">
                <a class="use-links-item-wrapper" href="{% static 'doc/Правила_эффективной_дистанционной_коммуникации_для_преподавателя.pdf' %}" download>
                    <div class="use-links-item__icon">
                        <i class="fas fa-link"></i>
                    </div>
                    <div class="use-links-item__text linkUp">
                        Правила эффективной дистанционной коммуникации для преподавателя
                    </div>
                </a>
            </div>
            <div class="use-links-item">
                <a class="use-links-item-wrapper" href="{% static 'doc/Форматы онлайн.pdf' %}" download>
                    <div class="use-links-item__icon">
                        <i class="fas fa-link"></i>
                    </div>
                    <div class="use-links-item__text linkUp">
                        Форматы онлайн
                    </div>
                </a>
            </div>
            <div class="use-links-item">
                <a class="use-links-item-wrapper" href="{% static 'doc/Виды онлайн 2.pdf' %}" download>
                    <div class="use-links-item__icon">
                        <i class="fas fa-link"></i>
                    </div>
                    <div class="use-links-item__text linkUp">
                        Виды онлайн
                    </div>
                </a>
            </div>
            <div class="use-links-item">
                <a class="use-links-item-wrapper" href="{% static 'doc/ИНТЕРНЕТ-ТРЕНАЖЕР.pdf' %}" download>
                    <div class="use-links-item__icon">
                        <i class="fas fa-link"></i>
                    </div>
                    <div class="use-links-item__text linkUp">
                        ИНТЕРНЕТ-ТРЕНАЖЕР
                    </div>
                </a>
            </div>
            <div class="use-links-item">
                <a class="use-links-item-wrapper" href="{% static 'doc/ИНТЕРНЕТ-ТРЕНАЖЕР. Инструкция.pdf' %}" download>
                    <div class="use-links-item__icon">
                        <i class="fas fa-link"></i>
                    </div>
                    <div class="use-links-item__text linkUp">
                        ИНТЕРНЕТ-ТРЕНАЖЕР. Инструкция
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    function fireJS() {
        var lazycss1 = document.createElement('link');
        lazycss1.rel = 'stylesheet';
        lazycss1.href = '{% static 'css/zero.min.css' %}';
        lazycss1.type = 'text/css';
        var godefer = document.getElementsByTagName('link')[0];
        godefer.parentNode.insertBefore(lazycss1, godefer);

        var lazycss2 = document.createElement('link');
        lazycss2.rel = 'stylesheet';
        lazycss2.href = 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap';
        lazycss2.type = 'text/css';
        var godefer = document.getElementsByTagName('link')[0];
        godefer.parentNode.insertBefore(lazycss2, godefer);

        var lazycss3 = document.createElement('link');
        lazycss3.rel = 'stylesheet';
        lazycss3.href = 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css';
        lazycss3.type = 'text/css';
        var godefer = document.getElementsByTagName('link')[0];
        godefer.parentNode.insertBefore(lazycss3, godefer);
    }
</script>
{% include 'footer.html' %}
</body>
</html>