<div id="contacts" class="footer">
    <div class="footer-wrapper">
        <div class="footer-wrapper-item">
            <div class="footer-wrapper-item__icon">
                <i class="fa fa-map-marker-alt"></i>
            </div>
            <div class="footer-wrapper-item__name">
                СТУДИЯ САМОЗАПИСИ:
            </div>
            <div class="footer-wrapper-item__about">
                г. Пермь, ул. Пушкина, 42 (4 учебный корпус ПГГПУ), каб. А-113
            </div>
        </div>
        <div class="footer-wrapper-item">
            <div class="footer-wrapper-item__icon">
                <i class="fa fa-phone"></i>
            </div>
            <div class="footer-wrapper-item__name">
                КОНТАКТНЫЕ ТЕЛЕФОНЫ:
            </div>
            <div class="footer-wrapper-item__about">
                215-18-62 (доб. 338) <br>
                215-18-45 (доб. 347)
            </div>
        </div>
        <div class="footer-wrapper-item">
            <div class="footer-wrapper-item__icon">
                <i class="fab fa-telegram-plane"></i>
            </div>
            <div class="footer-wrapper-item__name">
                Е-mail:
            </div>
            <div class="footer-wrapper-item__about">
                studio@pspu.ru
            </div>
        </div>
        <div class="footer-wrapper-item">
            <div class="footer-wrapper-item__icon">
                <i class="fa fa-globe"></i>
            </div>
            <div class="footer-wrapper-item__name">
                Web-сайт:
            </div>
            <div class="footer-wrapper-item__about">
                Studio.pspu.ru
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="copyright-wrapper">
        <div class="copyright-wrapper-name">
            ПГГПУ © Все права защищены.
        </div>
        <div class="copyright-wrapper-soc">
            <div class="copyright-wrapper-soc-item">
                <a href="https://pspu.ru/university" class="copyright-wrapper-soc-link">
                    <i class="fas fa-globe-europe"></i>
                </a>
            </div>
            <div class="copyright-wrapper-soc-item">
                <a href="https://vk.com/pshpu" class="copyright-wrapper-soc-link">
                    <i class="fab fa-vk"></i>
                </a>
            </div>
        </div>
    </div>
</div>