{% load static %}

<div class="header-nav">
    <div class="header-nav-wrapper">
        <a href="{% url 'index' %}" class="header-nav__logo__link">
            <div class="header-nav__logo">
                <img src="{% static 'img/pshpu-icon.webp' %}" alt="Logo" class="header-nav__logo__link__img">
                <div class="header-nav__logo__name">
                    ПГГПУ
                </div>
            </div>
        </a>
        <div class="header-nav-menu">
            {% if headerNav != None %}
                <nav role="navigation" class="primary-navigation">
                    <ul>
                        <li class="header-nav-menu-wrapper__link__title">Меню
                            <ul class="dropdown">
                                {% for item in headerNav %}
                                    <li>
                                        <a href="{% if item.type == 1 %} {% url item.link %} {% elif item.type == 3 %} {{ item.link }} {% else %} #{{ item.link }} {% endif %}"
                                           class="header-nav-menu-wrapper__link">
                                            {{ item.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </nav>
            {% else %}
                <nav role="navigation" class="primary-navigation">
                    <ul>
                        <li class="header-nav-menu-wrapper__link__title">Меню
                            <ul class="dropdown">
                                <li>
                                    <a href="{% url 'index' %}" class="header-nav-menu-wrapper__link">
                                        Главная страница
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            {% endif %}
        </div>
        <div class="header-nav-login">
            <div class="header-nav-login-wrapper">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}?next=/" class="header-nav-login-wrapper__link">
                        Выйти
                    </a>
                {% else %}
                    <a href="{% url 'login' %}?next=/calendar" class="header-nav-login-wrapper__link">
                        Войти
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>