{% load static %}
<html lang="ru">
<head>
    {% include "headLinks.html" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.min.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <title>Студия | ПГГПУ</title>
    <link rel="stylesheet" href="{% static 'css/zero.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body onLoad="fireJS()">
<div id="home" class="header">
    {% include 'header-nav.html' %}
    <div class="header-about">
        <div class="header-about-left">

        </div>
        <div class="header-about-text">
            <div class="header-about-text-wrapper">
                <div class="header-about-text__upper">
                    ПГГПУ - ОНЛАЙН
                </div>
                <div class="header-about-text__middle">
                    РЕСУРСНЫЙ ЦЕНТР ОНЛАЙН ОБРАЗОВАНИЯ
                </div>
            </div>
        </div>
        <div class="header-about-right">

        </div>
    </div>
</div>
<div id="about" class="video">
    <div id="particles-js" class="video-particles"></div>
    <div class="video-wrapper">
        <div class="video-wrapper-text">
            <div class="video-wrapper-text__title">
                ПГГПУ-ОНЛАЙН
            </div>
            <div class="video-wrapper-text__subtitle">
                <ul>
                    <li>Проект <span class="typo-bold">Пермского государственного гуманитарно-педагогического университета</span>
                        по развитию онлайн-образования, научно-методическому сопровождения онлайн обучения, внедрению
                        новых моделей обучения, преподавания и повышения доступности качественного образования вне
                        зависимости от места нахождения участников образовательного процесса.
                    </li>
                </ul>
            </div>
            <div class="video-wrapper-text__title">
                СТЕЙКХОЛДЕРЫ ПРОЕКТА
            </div>
            <div class="video-wrapper-text__subtitle">
                <ul>
                    <li><span class="typo-bold">Преподаватели</span> – разработка web-контента учебных дисциплин
                        (модулей), практик, разработка онлайн-курсов, компетенции преподавания в цифровой среде.
                    </li>
                    <li><span class="typo-bold">Обучающиеся</span> – выбор онлайн-курсов и построение индивидуальной
                        траектории обучения.
                    </li>
                    <li><span class="typo-bold">Администрация</span> – анализ цифровых следов участников
                        образовательного процесса для принятия управленческих решений в области качества образования.
                    </li>
                </ul>
            </div>
        </div>
        <div class="swiper-container preview-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slide-content">
                        <video preload="none" class="elementor-video"
                               src="{% static 'about.mp4' %}"
                               loop="" controls="" muted="muted" controlslist="nodownload"></video>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-content">
                        <img src="{% static "img/header-bg-slider1.webp" %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-content">
                        <img src="{% static "img/header-bg-slider2.webp" %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-content">
                        <img src="{% static "img/header-bg-slider3.webp" %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-content">
                        <img src="{% static "img/header-bg-slider4.webp" %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-content">
                        <img src="{% static "img/header-bg-slider5.webp" %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-content">
                        <img src="{% static "img/header-bg-slider6.webp" %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-content">
                        <img src="{% static "img/header-bg-slider7.webp" %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-content">
                        <img src="{% static "img/header-bg-slider8.webp" %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-content">
                        <img src="{% static "img/header-bg-slider9.webp" %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-content">
                        <img src="{% static "img/header-bg-slider10.webp" %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-content">
                        <img src="{% static "img/header-bg-slider11.webp" %}" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <div class="video-praticles" id="particles-js">
    </div>
</div>
<div id="proms" class="proms">
    <div class="proms-wrapper">
        <div data-aos="fade-right" class="proms-wrapper-item">
            <div class="proms-wrapper-item-icon">
                <i class="fas fa-folder-plus"></i>
            </div>
            <div class="proms-wrapper-item__title">
                СОЗДАНИЕ КАЧЕСТВЕННОГО ОБРАЗОВАТЕЛЬНОГО ОНЛАЙН-КОНТЕНТА
            </div>
            <div class="proms-wrapper-item__subtitle">
                Разработка качественного видео-контента для онлайн-курсов, докладов, презентаций
            </div>
        </div>
        <div data-aos="fade-right" class="proms-wrapper-item">
            <div class="proms-wrapper-item-icon">
                <i class="fas fa-layer-group"></i>
            </div>
            <div class="proms-wrapper-item__title">
                РАЗРАБОТКА ОНЛАЙН-КУРСОВ ДЛЯ ОБРАЗОВАТЕЛЬНЫХ ПРОГРАММ
            </div>
            <div class="proms-wrapper-item__subtitle">
                Методическая поддержка разработки онлайн-курсов, экспертиза онлайн-курсов
            </div>
        </div>
        <div data-aos="fade-right" class="proms-wrapper-item">
            <div class="proms-wrapper-item-icon">
                <i class="fas fa-briefcase"></i>
            </div>
            <div class="proms-wrapper-item__title">
                РАЗВИТИЕ МОДЕЛЕЙ ЦИФРОВОГО ОБУЧЕНИЯ
            </div>
            <div class="proms-wrapper-item__subtitle">
                Методическая поддержка преподавания в цифровой среде, применения дистанционных образовательных
                технологий
            </div>
        </div>
        <div data-aos="fade-right" class="proms-wrapper-item">
            <div class="proms-wrapper-item-icon">
                <i class="far fa-arrow-alt-circle-up"></i>
            </div>
            <div class="proms-wrapper-item__title">
                ПОВЫШЕНИЕ ДОСТУПНОСТИ КАЧЕСТВЕННОГО ОБРАЗОВАНИЯ
            </div>
            <div class="proms-wrapper-item__subtitle">
                Доступ к онлайн-лекциям ведущих преподавателей ПГГПУ, выбор онлайн-курсов, освоение дополнительных
                компетенций в дистанционном формате
            </div>
        </div>
    </div>
</div>
<div id="service" class="services">
    <div class="services-wrapper">
        <div class="services-wrapper-text">
            <div class="services-wrapper-text__title">
                ПОДКЛЮЧИСЬ К ОНЛАЙНУ
            </div>
            <div class="services-wrapper-text__subtitle">
                СТАНЬ УЧАСТНИКОМ ОНЛАЙН-ОБРАЗОВАНИЯ
            </div>
        </div>
        <div data-aos="flip-down" data-aos-offset="-100" class="services-wrapper-content">
            <div class="services-wrapper-content-item">
                <div class="services-wrapper-content-item__icon">
                    <i class="far fa-star"></i>
                </div>
                <div class="services-wrapper-content-item-text">
                    <div class="services-wrapper-content-item-text__title">
                        <a class="linkUp" href="{% url "features" %}">
                            О СТУДИИ САМОЗАПИСИ ОНЛАЙН-КУРСОВ <span class="typo-nowrap">SPOK & MOOK</span>
                        </a>
                    </div>
                    <div class="services-wrapper-content-item-text__subtitle">
                        Узнайте о возможностях Студии самозаписи и о том, как самостоятельно без помощи операторов и
                        технических помощников записать качественный видеоконтент для создания онлайн-курсов
                    </div>
                </div>
            </div>
            <div class="services-wrapper-content-item">
                <div class="services-wrapper-content-item__icon">
                    <i class="fas fa-microphone-alt"></i>
                </div>
                <div class="services-wrapper-content-item-text">
                    <div class="services-wrapper-content-item-text__title">
                        <a class="linkUp" href="{% url "calendar" %}">
                            ЗАПИСЬ В СТУДИЮ <span class="typo-nowrap">SPOK & MOOK</span>
                        </a>
                    </div>
                    <div class="services-wrapper-content-item-text__subtitle">
                        Выберите удобное для Вас время для посещения Студии самозаписи с помощью сервиса электронной
                        записи. Электронная запись доступна корпоративным пользователям с доменом pspu.
                    </div>
                </div>
            </div>
            <div class="services-wrapper-content-item">
                <div class="services-wrapper-content-item__icon">
                    <i class="fas fa-toolbox"></i>
                </div>
                <div class="services-wrapper-content-item-text">
                    <div class="services-wrapper-content-item-text__title">
                        <a class="linkUp" href="{% url "features" %}">
                            ИНСТРУКЦИИ ПОЛЬЗОВАТЕЛЯ СТУДИИ <span class="typo-nowrap">SPOK & MOOK</span>
                        </a>
                    </div>
                    <div class="services-wrapper-content-item-text__subtitle">
                        Студия самозаписи имеет интуитивно понятный пользовательский интерфейс, однако, для качественной
                        работы в Студии рекомендуем ознакомиться с инструкциями по подготовке к записи и режимах работы
                        Студии
                    </div>
                </div>
            </div>
            <div class="services-wrapper-content-item">
                <div class="services-wrapper-content-item__icon">
                    <i class="fas fa-comments"></i>
                </div>
                <div class="services-wrapper-content-item-text">
                    <div class="services-wrapper-content-item-text__title">
                        <a class="linkUp" href="{% url "features" %}#links">
                            МЕТОДИЧЕСКИЕ РЕКОМЕНДАЦИИ ПО РАЗРАБОТКЕ ОНЛАЙН-КУРСОВ
                        </a>
                    </div>
                    <div class="services-wrapper-content-item-text__subtitle">
                        Вы решили разработать онлайн-курс? Тогда предлагаем Вам ознакомиться с методическими
                        рекомендациями по проектированию его структуры и разработке содержания. Наши материалы помогут
                        Вам создать качественный образовательный онлайн-курс
                    </div>
                </div>
            </div>
            <div class="services-wrapper-content-item">
                <div class="services-wrapper-content-item__icon">
                    <i class="fab fa-digital-ocean"></i>
                </div>
                <div class="services-wrapper-content-item-text">
                    <div class="services-wrapper-content-item-text__title">
                        <a class="linkUp" href="{% url "features" %}#links">
                            ПРЕПОДАВАНИЕ В ЦИФРОВОЙ СРЕДЕ
                        </a>
                    </div>
                    <div class="services-wrapper-content-item-text__subtitle">
                        Качественное онлайн-образование предполагает внедрение новых моделей обучения, применение
                        современных дистанционных образовательных технологий, построение образовательного процесса на
                        основе цифровой дидактики. Здесь Вы найдете материалы, которые помогут Вам выбрать оптимальную
                        модель онлайн-обучения, повысить уровень компетенций в области преподавания в цифровой среде
                    </div>
                </div>
            </div>
            <div class="services-wrapper-content-item">
                <div class="services-wrapper-content-item__icon">
                    <i class="fas fa-wifi"></i>
                </div>
                <div class="services-wrapper-content-item-text">
                    <div class="services-wrapper-content-item-text__title">
                        ОНЛАЙН-КУРСЫ ОТКРЫТЫХ ОБРАЗОВАТЕЛЬНЫХ ПЛАТФОРМ
                    </div>
                    <div class="services-wrapper-content-item-text__subtitle">
                        Постройте свою индивидуальную образовательную траекторию! Ознакомьтесь с перечнем онлайн-курсов,
                        результаты которых могут быть зачтены в качестве результатов освоения учебных дисциплин,
                        выберите курс, который соответствует Вашим образовательным интересам
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="review" class="review">
    <div class="review-content">
        <div class="review-content-text">
            <div class="review-content-text__title">
                Учить и учиться нужно интересно!
            </div>
            <div class="review-content-text__subtitle">
                Участники проекта ПГГПУ-ОНЛАЙН о современном состоянии и перспективах онлайн-образования
            </div>
        </div>
        <div class="review-content-container">
            <div class="review-content-items">
                <div class="swiper-container review-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="review-content-wrapper">
                                <div class="review-content-wrapper-icon">
                                    <img src="{% static 'img/pshpu-icon.webp' %}" alt="Logo"
                                         class="review-content-wrapper-icon__img">
                                </div>
                                <div class="review-content-wrapper-text">
                                    <div class="review-content-wrapper-text__icon">
                                        <i class="fas fa-quote-left"></i>
                                    </div>
                                    <div class="review-content-wrapper-text-qoute">
                                        <div class="review-content-wrapper-text-qoute__about">
                                            Качественный образовательный контент – один из важнейших элементов
                                            онлайн-обучения <span class="typo-bold">- освойте возможности Студии самозаписи!</span>
                                        </div>
                                        <div class="review-content-wrapper-qoute__name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-content-wrapper">
                                <div class="review-content-wrapper-icon">
                                    <img src="{% static 'img/pshpu-icon.webp' %}" alt="Logo"
                                         class="review-content-wrapper-icon__img">
                                </div>
                                <div class="review-content-wrapper-text">
                                    <div class="review-content-wrapper-text__icon">
                                        <i class="fas fa-quote-left"></i>
                                    </div>
                                    <div class="review-content-wrapper-text-qoute">
                                        <div class="review-content-wrapper-text-qoute__about">
                                            Оптимальная модель онлайн-образования должна обеспечивать качество
                                            преподавания, качество обучения, качество оценки результатов и организации
                                            учебного процесса <span class="typo-bold">- нам необходимо внедрять вариативные модели онлайн-образования, учитывающие специфику реализуемых программ и учебных дисциплин</span>
                                        </div>
                                        <div class="review-content-wrapper-qoute__name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-content-wrapper">
                                <div class="review-content-wrapper-icon">
                                    <img src="{% static 'img/pshpu-icon.webp' %}" alt="Logo"
                                         class="review-content-wrapper-icon__img">
                                </div>
                                <div class="review-content-wrapper-text">
                                    <div class="review-content-wrapper-text__icon">
                                        <i class="fas fa-quote-left"></i>
                                    </div>
                                    <div class="review-content-wrapper-text-qoute">
                                        <div class="review-content-wrapper-text-qoute__about">
                                            Онлайн-обучение позволяет индивидуализировать учебный процесс, дает
                                            возможность выбора образовательной траектории, обучения в индивидуальном
                                            режиме <span class="typo-bold">- это новые возможности для студентов!</span>
                                        </div>
                                        <div class="review-content-wrapper-qoute__name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-content-wrapper">
                                <div class="review-content-wrapper-icon">
                                    <img src="{% static 'img/pshpu-icon.webp' %}" alt="Logo"
                                         class="review-content-wrapper-icon__img">
                                </div>
                                <div class="review-content-wrapper-text">
                                    <div class="review-content-wrapper-text__icon">
                                        <i class="fas fa-quote-left"></i>
                                    </div>
                                    <div class="review-content-wrapper-text-qoute">
                                        <div class="review-content-wrapper-text-qoute__about">
                                            Онлайн-обучение - один из основных трендов развития образования во всем мире
                                            <span class="typo-bold">- будь в тренде!</span>
                                        </div>
                                        <div class="review-content-wrapper-qoute__name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-content-wrapper">
                                <div class="review-content-wrapper-icon">
                                    <img src="{% static 'img/pshpu-icon.webp' %}" alt="Logo"
                                         class="review-content-wrapper-icon__img">
                                </div>
                                <div class="review-content-wrapper-text">
                                    <div class="review-content-wrapper-text__icon">
                                        <i class="fas fa-quote-left"></i>
                                    </div>
                                    <div class="review-content-wrapper-text-qoute">
                                        <div class="review-content-wrapper-text-qoute__about">
                                            Онлайн-образование – это не выдумка и не утопия <span class="typo-bold">- оно существует!</span>
                                        </div>
                                        <div class="review-content-wrapper-qoute__name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-content-wrapper">
                                <div class="review-content-wrapper-icon">
                                    <img src="{% static 'img/pshpu-icon.webp' %}" alt="Logo"
                                         class="review-content-wrapper-icon__img">
                                </div>
                                <div class="review-content-wrapper-text">
                                    <div class="review-content-wrapper-text__icon">
                                        <i class="fas fa-quote-left"></i>
                                    </div>
                                    <div class="review-content-wrapper-text-qoute">
                                        <div class="review-content-wrapper-text-qoute__about">
                                            Развитие онлайн-обучения <span class="typo-bold">– часть государственной политики в области образования</span>
                                        </div>
                                        <div class="review-content-wrapper-qoute__name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-content-wrapper">
                                <div class="review-content-wrapper-icon">
                                    <img src="{% static 'img/pshpu-icon.webp' %}" alt="Logo"
                                         class="review-content-wrapper-icon__img">
                                </div>
                                <div class="review-content-wrapper-text">
                                    <div class="review-content-wrapper-text__icon">
                                        <i class="fas fa-quote-left"></i>
                                    </div>
                                    <div class="review-content-wrapper-text-qoute">
                                        <div class="review-content-wrapper-text-qoute__about">
                                            Система онлайн-образования позволяет выбрать учебный курс в соответствии с
                                            своими профессиональными интересами, учиться у ведущих преподавателей <span
                                                class="typo-bold">- открой для себя новые горизонты!</span>
                                        </div>
                                        <div class="review-content-wrapper-qoute__name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-content-wrapper">
                                <div class="review-content-wrapper-icon">
                                    <img src="{% static 'img/pshpu-icon.webp' %}" alt="Logo"
                                         class="review-content-wrapper-icon__img">
                                </div>
                                <div class="review-content-wrapper-text">
                                    <div class="review-content-wrapper-text__icon">
                                        <i class="fas fa-quote-left"></i>
                                    </div>
                                    <div class="review-content-wrapper-text-qoute">
                                        <div class="review-content-wrapper-text-qoute__about">
                                            Онлайн-обучение дает возможность получить качественное образование вне
                                            зависимости от места жительства <span class="typo-bold">- это важно, особенно в условиях ограничения передвижений</span>
                                        </div>
                                        <div class="review-content-wrapper-qoute__name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15/dist/smooth-scroll.polyfills.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://unpkg.com/swiper@6.3.4/swiper-bundle.min.js"></script>
<script type="text/javascript">
    function fireJS() {
    }

    particlesJS("particles-js", {
        "particles": {
            "number": {"value": 80, "density": {"enable": !0, "value_area": 800}},
            "color": {"value": "#e67817"},
            "shape": {
                "type": "circle",
                "stroke": {"width": 0, "color": "#000000"},
                "polygon": {"nb_sides": 5},
                "image": {"src": "img/github.svg", "width": 100, "height": 100}
            },
            "opacity": {
                "value": .5,
                "random": !1,
                "anim": {"enable": !1, "speed": 1, "opacity_min": .1, "sync": !1}
            },
            "size": {"value": 3, "random": !0, "anim": {"enable": !1, "speed": 40, "size_min": .1, "sync": !1}},
            "line_linked": {"enable": !0, "distance": 150, "color": "#e67817", "opacity": .4, "width": 1.5},
            "move": {
                "enable": !0,
                "speed": 1.5,
                "direction": "none",
                "random": !1,
                "straight": !1,
                "out_mode": "out",
                "bounce": !1,
                "attract": {"enable": !1, "rotateX": 600, "rotateY": 1200}
            }
        },
        "interactivity": {
            "detect_on": "canvas",
            "events": {
                "onhover": {"enable": false, "mode": "grab"},
                "onclick": {"enable": true, "mode": "push"},
                "resize": true
            },
            "modes": {
                "grab": {"distance": 400, "line_linked": {"opacity": 1}},
                "bubble": {"distance": 400, "size": 40, "duration": 2, "opacity": 8, "speed": 3},
                "repulse": {"distance": 200, "duration": 0.4},
                "push": {"particles_nb": 4},
                "remove": {"particles_nb": 2}
            }
        },
        "retina_detect": !0
    });

    AOS.init({
        once: true,
        duration: 800,
    });
    var scroll = new SmoothScroll('a[href*="#"]');

    var swiper = new Swiper('.review-slider', {
        spaceBetween: 30,
        loop: true,
        autoplay: {
            delay: 3000,
        },
        pagination: {
            el: '.swiper-pagination',
        },
    });

    document.getElementsByClassName('elementor-video')[0].toggleAttribute('preload');

    var swiper2 = new Swiper('.preview-slider', {
        spaceBetween: 30,
        pagination: {
            el: '.swiper-pagination',
        },
        loop: true,
        autoplay: {
            delay: 3000,
            disableOnInteraction: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

    $('.elementor-video').on('click', () => {
        swiper2.autoplay.stop();
    })
</script>
{% include 'footer.html' %}
</body>
</html>